body {
  background-color: #DCE9F3;
}

h1 {
  color: white;
  text-align: center;
  font-family:Calibri;
  font-size: 100px
  }

p {
  font-family:Zapf-Chancery;
   text-align:center;}
;
  font-size: 50px;
h2 { text-align: center;
}

ul {list-style-position: inside;}







body {
  font-size: 28px;
}

ul.na {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li.na {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



